<head>
  <link rel="stylesheet" href="login.css" />
</head>



<nav id="navbar">
  <section id="cart-wrap">
  <div id="cart-one" class="cart"></div>
  <div id="cart-two" class="cart"></div>
  <div id="cart-three" class="cart"></div>
  <div id="cart-four" class="cart"></div>
  <div id="cart-l-w" class="cart"></div>
  <div id="cart-r-w" class="cart"></div>
  </section>
    
  <p id=stacy-logo>Stacy's</p>
  
  <section id="nav-grid">
    <p id="deals"><a href="javascript:void(0)">Deals</a></p>
    <p id="trending"><a href="javascript:void(0)">Trending</a></p>
    <p id="school"><a href="javascript:void(0)">Back to School</a></p>
    <p id="kids"><a href="javascript:void(0)">Kids</a></p>
    <p id="electronics"><a href="javascript:void(0)">Electronics</a></p>
    <p id="kitchen"><a href="javascript:void(0)">Kitchen</a></p>
    <p id="nav-spacer">i</p>
  </section>
  
   <div id="search-wrap">
  <input type="search" id="would-be-searcher" tabindex="1" data-table="none"
       placeholder="Search for products..."/>
  </div>
</nav>

  
  
<body>
  <div id="login-container">
  <div id="login-wrap">
    <h1 id="login-h1">Login for access to great deals!</h1>
    <% if (messages.error) { %> <%= messages.error %> <% } %>
    <form action="/login" method="POST">
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
  </div>
</div>

  <div id="button">
    <div id="top-line" class="ham-lines"></div>
    <div id="middle-line" class="ham-lines"></div>
    <div id="bottom-line" class="ham-lines"></div> 
    <div id="blackout"></div>
  </div>
  
  <div><img id="top-picture" src="https://images.pexels.com/photos/4259140/pexels-photo-4259140.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/></div>
  <p id="top-picture-p">Shop where you're part of the family ~ Stacy's</p>
  
  <h2 id="new-p-words">New products for you</h2>
  
  <div id="new-products">
    <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/1030946/pexels-photo-1030946.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/></p><div class="second-p-wrap"><p id="second-p-one">$29.99<br>3 for 1 Shirts</p></div></a>
    <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/63448/pexels-photo-63448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/></p><div class="second-p-wrap"><p id="second-p-two">$4.99<br>Outdoor Gloves</p></div></a>
    <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/4790268/pexels-photo-4790268.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/></p><div class="second-p-wrap"><p id="second-p-three">$299.99<br>Alexa Virtual Assistant</p></div></a>
    <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/4846106/pexels-photo-4846106.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/></p><div class="second-p-wrap"><p id="second-p-four">$269.99<br>Full Dining Room Set</p></div></a>
    <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/2832037/pexels-photo-2832037.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/></p><div class="second-p-wrap"><p id="second-p-five">$34.99<br>Classical Outdoors Hat</p></div></a>
     <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/3780681/pexels-photo-3780681.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"/></p><div class="second-p-wrap"><p id="second-p-six">$79.99<br>Wireless Airpods</p></div></a>
     <a href="javascript:void(0)"><p class="new-p"><img src="https://images.pexels.com/photos/4374417/pexels-photo-4374417.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"/></p><div class="second-p-wrap"><p id="second-p-seven">119.99<br>Bridesmaid's Gown</p></div></a>
     <p id="new-p-space" class="new-p">i</p>
  </div>
  
  
  <h2 id="savings">Limited time savings</h2>
  <div id="savings-sect">
    <a href="javascript:void(0)"><div id="savings-one"><div id="one-off"><p id="percentage-one">35% Off</p></div></div></a>
    <a href="javascript:void(0)"><div id="savings-two"><div id="two-off"><p id="percentage-two">40% Off</p></div></div></a>
  </div>
  <a href="javascript:void(0)"><p id="one-off-name">$179.99<br>Wildlife Photography Camera</p></a>
  <a href="javascript:void(0)"><p id="two-off-name">$54.99<br>Battery Powered Drone</p></a>
</body>

<footer>
  <a href="#navbar"><p id="footer-top">Top of page</p></a>
  <p id="right-footer"><a href="javascript:void(0)">Home</a><br><br><a href="javascript:void(0)"><a href="javascript:void(0)">Store Locater</a></p>
  <p id="left-footer"><a href="javascript:void(0)">Account</a><br><br><a href="javascript:void(0)">Contact</a></p>
</footer>